---
const { frontmatter } = Astro.props;

import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";

const {
    siteLogo,
    navLinks,
    author,
    socialLinks,
    socialImage,
    canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = SITE_CONFIG;

const ogImgUrl = canonicalURL + socialImage;
---

<script>
    import TypeIt from "typeit";

    new TypeIt("#name-title", {
        speed: 100,
        loop: false,
        afterComplete: function (instance: any) {
            instance.destroy();
            let scrollTimeout = setTimeout(() => {
                const mainDiv = document.querySelector("#auto-scroll-position");
                if (mainDiv) {
                    mainDiv.scrollIntoView({ behavior: "smooth" });
                }
            }, 500);

            const cancelScrollTimeout = () => {
                if (scrollTimeout) {
                    clearTimeout(scrollTimeout);
                    scrollTimeout = 0;
                }
            };

            window.addEventListener("scroll", cancelScrollTimeout, {
                once: true,
            });
            window.addEventListener("keydown", cancelScrollTimeout, {
                once: true,
            });
        },
    }).go();
</script>

<style>
    @supports (animation-range: 0vh 90vh) {
        @keyframes sticky-parallax-header-move-and-size {
            from {
                background-position: 100% 50;
                height: 90vh;
                align-items: end;
                color: aliceblue;
            }
            to {
                background-position: 20% 0;
                opacity: 1;
                height: 17vh;
                font-size: 2em;
                align-items: end;
                padding-bottom: 0.8rem;
                color: aliceblue;
            }
        }

        .sticky-parallax-header {
            position: fixed;
            top: 0;
            background-blend-mode: soft-light;
            animation: sticky-parallax-header-move-and-size linear forwards;
            animation-timeline: scroll();
            animation-range: 0vh 90vh;
            opacity: 1;
            background-blend-mode: soft-light;
            background-size: cover;
            display: grid;
            text-align: end;
            align-items: end;
            font-size: calc(4vw + 1em);
        }

        .test {
            padding-top: 100vh;
        }
    }

    .sticky-parallax-header {
        height: 90vh;
        width: 100%;
        background-size: cover;
        display: grid;
        place-items: center;
        text-align: center;
        font-size: calc(4vw + 1em);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: aliceblue;
    }

    #auto-scroll-position {
        scroll-margin-top: 20rem;
    }
</style>
<div
    class="w-full h-screen sticky-parallax-header"
    style={`background-image: url(${frontmatter.image.url});`}
>
    <h3 id="name-title" class="text-pretty">
        {frontmatter.title}
    </h3>
</div>
<Header siteLogo={siteLogo} navLinks={navLinks} />
<div class="font-sans bg-black text-white w-auto test">
    <div id="auto-scroll-position"></div>
    <main
        class="max-w-5xl px-2 mx-auto font-sans prose text-white prose-lg prose-strong:text-white prose-h2:text-white"
    >
        <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
</div>
